/*Site-wide css*/
html, body {
  height: 100vh;
}

body {
  background-image: url(https://mreyes.s3-us-west-1.amazonaws.com/assets/images/oceanSky.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.App {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
}
.App > * {
  flex: 1 100%;
}

header {
  background-color: rgba(71, 66, 77, 0.75);
  border: 8px #DBE7FB solid;
  border-style: inset;
  box-sizing: content-box;
  display: flex;
  max-height: 10%;
  width: 100%;
}

header > * {
  flex: 1 100%;
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.link-item {
  color: #DBE7FB;
  font-style: bold;
  font-family: "Bungee", sans-serif;
  font-size: 1.5em;
  line-height: 1.2em;
  text-align: center;
  text-decoration: none;
}

.link-item-card {
  color: #DBE7FB;
  font-style: normal;
  font-family: "Bungee", sans-serif;
  font-size: 0.8em;
  text-align: center;
  text-decoration: none;
}

strong {
  color: #BC9612;
}

a {
  text-decoration: none;
}

a:hover{
  color: #BC9612;
}

/*Articles, containers css*/
.info-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 25px;
}

.box-blurb {
  background-color: rgba(71, 66, 77, 0.9);
  height: 60vh;
  width: 60vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  overflow: auto;
  margin: 10px;
}

#portfolio {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: center;
  overflow: auto;
}

#experience {
  list-style-type: none;
  font-family: "Forma DJR Display", sans-serif;
  overflow: auto;
}

.box-blurb > p {
  color: #DBE7FB;
  font-size: 1.4em;
  text-align: center;
  margin: auto 20px;
  font-family: "Forma DJR Display", Serif;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.image-border {
  border: 20px rgba(71, 66, 77, 0.8) solid;
  border-radius: 100%;
}

ul {
  margin: 25px;
  padding-inline-start: 0;
}

li {
  font-size: 1.2em;
  color: #DBE7FB;
  margin-right: 10px;
}

.description {
  font-size: 1.2em;
  color: #DBE7FB;
}

.card-container {
  margin: 10px;
  width: 50%;
}

.card-container > img {
  display: none;
}

.card-description {
  font-size: 1em;
  color: #DBE7FB;
}

.card-description > strong {
  font-size: 1.5em;
}

.type-head {
  color: #798BE4;
  font-size: 2.5em;
  margin-top: 30px;
}

.title {
  font-size: 1.6em;
  color: #BC9612;
  margin-top: 15px;
}

.dates{
  font-size: 1.2em;
  color: #DBE7FB;
  font-style: italic;
}

h6 {
  font-size: 0.8em;
  color: #DBE7FB;
  font-style: normal;
  font-weight: lighter;
  margin: 5px;
}

/* contact page css */
#bike {
  width: 25%;
  height: auto;
  margin-top: 20px;
}

.email {
  color: #BC9612;
  font-style: bold;
  font-family: "Forma DJR Display", sans-serif;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
}


@media all and (max-width: 1300px){
  body {
    background-image: url(https://mreyes.s3-us-west-1.amazonaws.com/assets/images/jtree.jpg);
    background-color: rgba(71, 66, 77, 0.75);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .App {
    display: flex;
    width: 100vw;
    height: 100vh;
  }

  .App > * {
    flex: 1 100%;
  }

  nav {
    flex-flow: column wrap;
    justify-content: space-around;
  }

  header {
    max-height: 35%;
    width: 100vw;
  }

  img {
    display: none;
  }

  main {
    display: flex;
    width: 100vw;
    height: 100%;
    max-height: 100vh;
  }

  .info-container {
    flex: 1 100%;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .box-blurb {
    display: flex;
    background-color: rgba(71, 66, 77, 0.9);
    width: 100%;
    height: 100%;
    margin: 0;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    overflow: auto;
  }

  .box-blurb > p {
    margin: 5px;
  }

  #portfolio {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    overflow: auto;
  }

  .card {
    display: flex;
  }

  .card-container {
    flex: 1 100%;
  }

  .description {
    font-size: 1em;
  }

  .email {
    color: #BC9612;
    font-style: bold;
    font-family: "Forma DJR Display", sans-serif;
    font-size: 1.5em;
    text-decoration: none;
  }
  ul {
    margin: 20px;
    padding-inline-start: 0;
  }
}
