/*Site-wide css*/
body {
  background-image: url('/assets/images/large/oceanSky.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  height: 100vh;
}

.App > * {
  flex: 1 100%;
}

main {
  display: flex;
  flex-flow: row || nowrap;
  justify-content: space-evenly;
  align-items: center;
}

header {
  background-color: rgba(71, 66, 77, 0.75);
  border: 8px #DBE7FB solid;
  border-style: inset;
  box-sizing: border-box;
  display: flex;
  flex-basis: content;
  width: 100%;
  max-height: 150px;
}

nav {
  width: 100%;
  max-height: 150px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 800px){
  nav {
    justify-content: space-around;
  }
}

@media all and (max-width: 500px){
  nav {
    flex-direction: column;
  }
}

#home-sprite {
  display: flex;
}

.link-item {
  color: #DBE7FB;
  font-style: bold;
  font-family: "Bungee", sans-serif;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  margin: 26px;
}

.link-item-card {
  color: #DBE7FB;
  font-style: normal;
  font-family: "Bungee", sans-serif;
  font-size: 0.8em;
  text-align: center;
  text-decoration: none;
}

strong {
  color: #BC9612;
}

a {
  text-decoration: none;
  line-height: 0;
}

a:hover{
  color: #BC9612;
}

/*Articles, containers css*/
.info-container{
  display: flex;
  min-height: 50vh;
  min-width: 100vw;
  justify-content: space-around;
  align-items: center;
}

.box-blurb {
  background-color: rgba(71, 66, 77, 0.9);
  width: 50vw;
  height: 70vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.box-blurb > p {
  color: #DBE7FB;
  font-size: 2.5em;
  text-align: center;
  margin: auto 40px;
  font-family: "Forma DJR Display", Serif;
  font-style: normal;
}

.image-border {
  border: 20px rgba(71, 66, 77, 0.8) solid;
  border-radius: 100%;
  width: auto;
  height: 100%;
}

/*Experience css*/
#experience {
  list-style-type: none;
  font-family: "Forma DJR Display", sans-serif;
  overflow: auto;
  width: 95%;
}

ul {
  margin: 5px;
}
li {
  font-size: 1.2em;
  color: #DBE7FB;
  margin-right: 10px;
}

.description {
  font-size: 1.2em;
  color: #DBE7FB;
}

#portfolio {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: center;
  overflow: auto;
}

.card-container {
  margin: 10px;
  width: 50%;
}

.card-description {
  font-size: 1em;
  color: #DBE7FB;
}

.card-description > strong {
  font-size: 1.5em;
}

.type-head {
  color: #798BE4;
  font-size: 2.5em;
  margin-top: 30px;
}

.title {
  font-size: 1.6em;
  color: #BC9612;
  margin-top: 15px;
}

.dates{
  font-size: 1.2em;
  color: #DBE7FB;
  font-style: italic;
}

/* portfolio page css */


h6 {
  font-size: 0.8em;
  color: #DBE7FB;
  font-style: normal;
  font-weight: lighter;
  margin: 5px;
}

/* contact page css */
#bike {
  width: 30%;
  height: auto;
  margin-top: 20px;
}

#email {
  color: #BC9612;
  font-style: bold;
  font-family: "Forma DJR Display", sans-serif;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
}
